In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
source_directory="./datasets/raw"
data_set=[]
season=[]

for x in os.listdir(source_directory):
    data_set.append(x)
    season.append(x.strip('.csv'))

data_set.sort()
season.sort()

In [3]:
for x in data_set:
    # Read in csv as pandas dataframe
    df=pd.read_csv(source_directory+x)

    # Isolate club names from dataframe
    club_list=df['HomeTeam'].unique()
    clubs=[]
    
    for i in club_list:
        if i in clubs:
            continue
        else:
            clubs.append(i)

    clubs.sort()

    # Isolate referee names from dataframe
    referees=df['Referee'].unique()

    # Drop create an array with of referee names free of duplicates
    refs=[]
    for i in referees:
        lname=i[2::].strip()
        if lname in refs:
            continue
        else:
            refs.append(lname)

    refs.sort()

    # Create empty 2d array to hold yellows and reds for each ref
    yc_data = np.zeros((len(clubs),len(refs)), int)
    rc_data = np.zeros((len(clubs),len(refs)), int)

    # Fill the 2d array with the card count for each ref and club
    for i in range(0,len(df['AY'])):
        ref_name=df['Referee'][i][2::].strip()
        home_club=df['HomeTeam'][i]
        away_club=df['AwayTeam'][i]
        yc_data[clubs.index(home_club),refs.index(ref_name)]+=df['HY'][i]
        yc_data[clubs.index(away_club),refs.index(ref_name)]+=df['AY'][i]
    
    temp_df=pd.DataFrame(data=yc_data, index=clubs, columns=refs)
    if data_set.index(x)==0:
        master_df=temp_df
    else:
        master_df=pd.concat([master_df,temp_df]).groupby(level=0).sum()

In [5]:
master_df

,Atkinson,Attwell,Bennett,Clattenburg,Dean,Dowd,Foy,Friend,Halsey,Jones,...,Scott,Stroud,Tierney,Hooper,Kavanagh,Coote,Bankes,England,Langford,Robinson
Arsenal,70,31.0,6.0,34.0,79,27.0,9.0,29,5.0,28.0,...,8.0,0.0,13.0,0.0,16.0,0.0,1.0,0.0,0.0,0.0
Aston Villa,36,11.0,8.0,49.0,43,24.0,14.0,37,17.0,23.0,...,10.0,3.0,3.0,1.0,7.0,1.0,2.0,0.0,0.0,0.0
Birmingham,18,7.0,2.0,10.0,5,6.0,10.0,15,4.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Blackburn,13,5.0,6.0,23.0,22,18.0,12.0,9,2.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Blackpool,1,3.0,0.0,2.0,5,0.0,2.0,2,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bolton,9,7.0,12.0,22.0,16,15.0,19.0,13,0.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bournemouth,19,22.0,0.0,5.0,32,0.0,0.0,23,0.0,13.0,...,16.0,0.0,21.0,4.0,11.0,2.0,3.0,0.0,0.0,0.0
Brighton,5,10.0,0.0,0.0,10,0.0,0.0,15,0.0,1.0,...,8.0,0.0,1.0,5.0,20.0,4.0,0.0,0.0,0.0,0.0
Burnley,45,12.0,3.0,16.0,47,11.0,10.0,24,0.0,12.0,...,9.0,0.0,13.0,7.0,12.0,4.0,2.0,0.0,0.0,0.0
Cardiff,9,1.0,0.0,2.0,8,8.0,3.0,9,0.0,1.0,...,4.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
Chelsea,60,10.0,3.0,34.0,82,30.0,15.0,26,11.0,22.0,...,4.0,0.0,3.0,0.0,9.0,0.0,0.0,0.0,1.0,0.0
Crystal Palace,32,10.0,0.0,15.0,30,8.0,5.0,32,0.0,18.0,...,3.0,3.0,11.0,1.0,5.0,3.0,3.0,0.0,0.0,0.0
Everton,48,21.0,6.0,17.0,7,25.0,0.0,42,9.0,27.0,...,10.0,0.0,13.0,2.0,9.0,3.0,0.0,0.0,0.0,0.0
Fulham,25,9.0,4.0,13.0,26,22.0,14.0,30,6.0,15.0,...,3.0,0.0,6.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0
Huddersfield,4,10.0,0.0,0.0,10,0.0,0.0,7,0.0,0.0,...,2.0,0.0,11.0,0.0,8.0,6.0,0.0,0.0,0.0,0.0
Hull,29,9.0,6.0,16.0,17,11.0,11.0,8,0.0,19.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Leicester,28,5.0,0.0,9.0,34,4.0,0.0,0,0.0,16.0,...,6.0,2.0,9.0,0.0,23.0,5.0,1.0,0.0,0.0,0.0
Liverpool,66,6.0,1.0,26.0,6,47.0,0.0,35,8.0,16.0,...,0.0,0.0,10.0,0.0,7.0,1.0,0.0,0.0,0.0,0.0
Man City,71,14.0,0.0,55.0,90,35.0,36.0,30,3.0,21.0,...,3.0,0.0,14.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
Man United,61,8.0,6.0,30.0,92,33.0,26.0,29,6.0,17.0,...,5.0,0.0,16.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
Middlesbrough,4,6.0,0.0,1.0,6,0.0,0.0,10,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Newcastle,53,26.0,0.0,0.0,53,24.0,24.0,27,9.0,34.0,...,8.0,0.0,12.0,6.0,15.0,6.0,9.0,0.0,0.0,2.0
Norwich,15,8.0,0.0,16.0,15,13.0,12.0,31,5.0,17.0,...,2.0,0.0,5.0,1.0,7.0,1.0,6.0,0.0,0.0,0.0
Portsmouth,6,3.0,5.0,2.0,7,8.0,2.0,6,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
QPR,25,0.0,0.0,11.0,15,11.0,12.0,12,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Reading,3,0.0,0.0,2.0,10,1.0,1.0,3,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sheffield United,2,4.0,0.0,0.0,6,0.0,0.0,1,0.0,3.0,...,2.0,0.0,0.0,8.0,3.0,10.0,3.0,0.0,0.0,0.0
Southampton,20,13.0,0.0,39.0,33,6.0,7.0,27,1.0,22.0,...,13.0,0.0,12.0,5.0,10.0,3.0,2.0,2.0,0.0,0.0
Stoke,44,3.0,7.0,32.0,36,0.0,25.0,43,9.0,40.0,...,8.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
Sunderland,46,12.0,16.0,0.0,47,51.0,28.0,36,7.0,39.0,...,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Swansea,19,8.0,0.0,14.0,36,22.0,8.0,34,2.0,17.0,...,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tottenham,43,14.0,4.0,41.0,76,38.0,15.0,35,6.0,32.0,...,14.0,0.0,7.0,0.0,9.0,3.0,0.0,0.0,0.0,0.0
Watford,26,2.0,0.0,5.0,31,0.0,0.0,19,0.0,9.0,...,14.0,3.0,16.0,10.0,13.0,7.0,0.0,0.0,0.0,0.0
West Brom,27,10.0,0.0,28.0,55,24.0,15.0,30,10.0,40.0,...,7.0,0.0,13.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0
West Ham,66,21.0,2.0,40.0,63,25.0,18.0,22,1.0,20.0,...,11.0,0.0,12.0,1.0,10.0,12.0,0.0,0.0,0.0,0.0
Wigan,14,10.0,2.0,18.0,23,26.0,0.0,20,4.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wolves,10,38.0,9.0,13.0,20,13.0,10.0,14,4.0,19.0,...,2.0,0.0,2.0,4.0,7.0,7.0,9.0,1.0,0.0,0.0

In [6]:
master_df.describe()

,Atkinson,Attwell,Bennett,Clattenburg,Dean,Dowd,Foy,Friend,Halsey,Jones,...,Scott,Stroud,Tierney,Hooper,Kavanagh,Coote,Bankes,England,Langford,Robinson
count,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,...,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000
mean,28.972973,10.513514,2.918919,17.297297,32.243243,15.837838,9.810811,21.216216,3.567568,16.351351,...,4.972973,0.297297,6.432432,1.567568,5.864865,2.378378,1.108108,0.081081,0.027027,0.054054
std,21.704437,8.415005,3.897138,15.253169,25.999365,14.012918,9.483430,12.320117,4.166937,11.407152,...,4.699211,0.877650,6.089794,2.672291,6.223442,3.174126,2.318809,0.363500,0.164399,0.328798
min,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,5.000000,0.000000,2.000000,10.000000,4.000000,0.000000,10.000000,0.000000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,25.000000,9.000000,1.000000,15.000000,26.000000,13.000000,10.000000,23.000000,2.000000,17.000000,...,4.000000,0.000000,5.000000,0.000000,5.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,45.000000,12.000000,6.000000,28.000000,47.000000,25.000000,15.000000,30.000000,6.000000,22.000000,...,8.000000,0.000000,12.000000,2.000000,9.000000,4.000000,1.000000,0.000000,0.000000,0.000000
max,71.000000,38.000000,16.000000,55.000000,92.000000,51.000000,36.000000,43.000000,17.000000,40.000000,...,16.000000,3.000000,21.000000,10.000000,23.000000,12.000000,9.000000,2.000000,1.000000,2.000000

In [9]:
master_df.to_csv('./data/cards_per_club.csv')